

.hover {
  position: relative;

  &:not(:hover) {

    &.has-image label {
      display: none;
    }

    .delete-image {
      display: none;
    }

  }
}


.image-container {

  height: 200px;
  background-size: cover;
  background-position: center;

  position: relative;

  .backdrop {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  md-icon {
    position: absolute;
    left: 50%; top: 50%;
    margin-left: -12px; margin-top: -12px;
    color: black;
  }

}

.delete-image {
  position:absolute;

  // center
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;

  .md-button {

  }
}