md-tabs(md-dynamic-height='', md-border-bottom='', hide-xs)
    md-tab(label='one')
    md-tab(label='two')
    md-tab(label='three')
md-list(flex='')
    md-subheader.md-no-sticky 3 line item (with hover)
    md-divider
    md-subheader.md-no-sticky 2 line item
    md-list-item.md-2-line(ng-click="null")
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text

    md-list-item.md-2-line
        img.md-avatar(ng-src='http://lorempixel.com/200/200/people', alt='lorem')
        .md-list-item-text
            h3 Primary text
            p Secondary text
